@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.chat-ui {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  .row {
    height: 100%;
  }

  .chat-sidebar {
    overflow-y: scroll;
    overflow-x: hidden;
    bottom: 0;
    height: 100%;
    padding: 0;

    .chat-sidebar-item {
      .chat-last-message {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1em;
        height: 1.5em;
        margin-bottom: 0;

      }

      &:hover {
        background: rgba(0, 0, 0, 0.05);
        cursor: pointer;
      }
    }
  }

  .chat-messages-pane {
    height: 100%;
    overflow: hidden;

    #chat-panel {
      height: 100%;
    }
  }
}